@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

* { 
font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;

}



.mypage{
  text-align: center;
}

.icon {
  color: #6667AB;
}

.account_container {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgb(107, 106, 106);
  margin-top: 2em;
  width: auto;
  max-width: 400px;
  min-height: 100px;
  padding: 40px;
  border-radius: 10px;
  background-color: white;
  position: relative;
  display: flex;

}

.history_container, .heart_container {
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  max-width: 600px;
  position: relative;
  display: flex;
}

.column {
  width: 50%;
}


.test{
  margin-block: 50px;
  margin-inline: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
  text-align: center;
}


.inputform{
  width: 100%;
  height: 65px;
  margin-block: 10px;
  border-radius: 10px;
  border: 1px solid #6667ab;
  padding-inline: 20px;
  padding-block: 5px;
  max-width: 500px;
}
.submitbutton-disable{
  background-color: #EAEAF6;
  color: gray;
  max-width: 500px;
}

.submitbutton-able{
  background-color: #6667ab;
  color: white;
  max-width: 500px;
}

.test3{
  width: 100%;
  height: 100%;
  text-align: center;
  margin-bottom: 100px;
}

.atag {
  text-decoration: none;
  color: gray;
}

.findtext{
  color: gray;
  text-align: left;
  max-width: 500px;
  margin-bottom: 100px;
}

.form {
  max-width: 600px;
  margin-inline: 20%;
}

input[type=password]{
  font-family:"굴림";
}
::placeholder {
  font-family: 'ONE-Mobile-Regular';
}

.dot {
  height: 100px;
  width: 100px;
  background-color: #FFFFFF;
  border-radius: 50%;
  display: inline-block;
  border-color: #6667AB
}

@media (max-width: 767px){
  /* .inputform{
      width: 100%;
      padding: 20px;
  } */
}

@media (min-width: 768px) and (max-width: 991px){
  /* 태블릿 세로 */
}

@media (min-width: 992px) and (max-width: 1199px){
  /* 태블릿 가로 */
}

@media (min-width: 1200px){
  /* 데스크탑 일반 */
}

