.user_info {
  display: flex;
  margin: auto auto auto 0;
  margin-top: 30px;
}

.user_name {
  margin: 0;
  align-self: center;
}

.score {
  display: flex;
  margin: 0 5px 0 0;
  align-self: center;
}

.carousel_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;

}

.slider {
  text-align: center;
  border-radius: 10px;
  overflow: hidden;

}

.slides>div {
  scroll-snap-align: start;
  flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

.slides {
  display: flex;
  overflow-x: auto;
  /* overflow: hidden; */
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.author-info {
  background: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 0.75rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
}

.author-info a {
  color: white;
}

.carousel_img {
  position: absolute;
  height: 100%;
  border-radius: 10px;
}

.slider>a {
  display: inline-flex;
  width: 0.5rem;
  height: 0.5rem;
  background: rgb(185, 185, 185);
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: relative;
}

.slider>a:active {
  top: 1px;
}

.slider>a:focus {
  background: #000;
}


@media (max-width: 414px) {
  .slider {
    width: 300px;
  }

  .slider>a {
    margin: 0.2rem 0.2rem 0.2rem 0;
  }

  .slides>div {
    width: 300px;
    height: 230px;
  }

}

@media (min-width: 414px) and (max-width: 767px) {
  .slider {
    width: 24rem;
  }



  .slides>div {
    width: 24rem;
    height: 250px;
  }

  .slider>a {
    margin: 0.5rem 0.5rem 0.5rem 0;
  }

}

@media (min-width: 767px) and (max-width: 991px) {


  .slider {
    width: 700px;
  }



  .slides>div {
    width: 800px;
    height: 400px;
  }

  .slider>a {
    margin: 0.5rem 0.5rem 0.5rem 0;
  }

}

@media (min-width: 991px) and (max-width: 1199px) {
  .slider {
    width: 800px;
  }

  .slides>div {
    width: 800px;
    height: 400px;
  }

  .slider>a {
    margin: 0.5rem 0.5rem 0.5rem 0;
  }
}

@media (min-width: 1199px) {


  .slider {
    width: 900px;

  }



  .slides>div {
    width: 900px;
    height: 450px;
  }

  .slider>a {
    margin: 0.5rem 0.5rem 0.5rem 0;
  }



}