nav {
  /* max-width: 1400px; */
  margin: 0 15px;
  align-items: center;
  justify-content: space-around;


  /* Split nav into sections with CSS Grid */
  /* display: grid;
  grid-template-columns: 1fr auto 1fr; */
}

input#category,
input#account,
div#left_toggle,
div#right_toggle,
.account_toggle {
  display: none;
  z-index: 99;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(-20%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

input#category:checked+div#left_toggle {
  background-color: white;
  display: flex;
  flex-direction: column;
  position: absolute;
  margin: 0 0 15px;
  /* height: 100%; */
  width: 10rem;
  animation: fadeInRight 0.5s;
}

.category_toggle {
  align-items: center;
}

.navbar_logo img {
  width: 100px;
}

.screen_menu {
  justify-content: center;
  align-items: center;
  align-self: center;
  margin: 5px;
}

.homebanner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.LiveItemInMain {
  border: 1px solid red;
  margin-block: 50px;
  margin-inline: 5%;
  height: 300px;
}


.test1 {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
}

.icon {
  color: #6667AB;
}

.iconbutton {
  background-color: white;
  border: none;
}

ul.screen_menu {
  list-style: none;
  display: flex;
}

ul.screen_menu li {
  display: inline-block;
  margin: 5px 0px 0px 20px;
  line-height: 40px;
}

ul.screen_menu li a.icon_sort {
  margin: 0px 0px 0px 10px;
}

ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #6667AB;
}

ul.mobile_menu {
  list-style: none;
  text-align: center;
  margin-bottom: 0;
}

ul.mobile_menu li {
  display: block;
  margin: 10px 15px 0px 0px;
}

div#left_toggle ul {
  list-style: none;
  margin: 10px 0px 0px 0px;
}

div#left_toggle ul li {
  display: block;
  margin: 10px 0px 30px 0px;
}

@media (max-width: 767px) {
  ul.screen_menu {
    display: none;
  }

  .navbar__logo {
    align-items: center;
  }

  .navbar_logo img {
    width: 80px;
  }

  @keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translate3d(0, -30%, 0);
    }

    to {
      opacity: 1;
      transform: translateZ(0);
    }
  }



  input#account:checked+div#right_toggle {
    background-color: white;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    opacity: 100%;
    animation: fadeInDown 1s;
  }

  .screen_menu {
    display: none;
  }

  .account_toggle {
    display: grid;
  }


}

@media (min-width: 768px) and (max-width: 991px) {
  /* 태블릿 세로 */

  ul.screen_menu {
    display: none;
  }

  .navbar__logo {
    align-items: center;
    margin-left: 370px;

  }

  @keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translate3d(0, -30%, 0);
    }

    to {
      opacity: 1;
      transform: translateZ(0);
    }
  }

  input#account:checked+div#right_toggle {
    background-color: white;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    opacity: 100%;
    animation: fadeInDown 1s;
  }

  .screen_menu {
    display: none;
  }

  .account_toggle {
    display: grid;
  }

}

@media (min-width: 992px) and (max-width: 1199px) {

  /* 태블릿 가로 */
  .navbar_logo {
    margin-left: 365px;
    align-items: center;
  }

}

@media (min-width: 1200px) {

  /* 데스크탑 일반 */
  .navbar_logo {
    /* margin-left: 300px; */
    align-items: center;
    margin-left: 27%;
  }

}

.noticeTab {
  margin: 1%;
  height: 700px;
  padding-inline: 0%;
  padding-block: 3%;
}
.articles{
  height: 700px;
  overflow-y: auto;
}
.Article {
  margin-block: 1%;
  padding: 1%;
  background-color: rgba(180, 179, 179, 0.116);
  border-radius: 5px;
  align-items: center;
  list-style: none;
}

.read {
  opacity: 40%;
}

.articleSpan {
  color: #6667ab;
  font-size: x-small;
}

.noticeTitle {
  display: flex;
  justify-content: space-between;
  padding-inline: 5%;

}

.hide {
  display: none;
}


.overText {
  word-break: break-all;
  padding: 5% 5% 0 5%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.findForm {
  min-width: 300px;
}

/* Chat */
.chat_room {
  display: flex;
  justify-content: space-between;
  margin-block: 2%;
  padding: 2%;
  background-color: #8080801E;
  border-radius: 10px;
  align-items: center;
  list-style: none;
  color: rgb(0, 0, 0);
}

.profile_box {
  width: 50px;
  height: 50px;
  border-radius: 70%;
  overflow: hidden;
}

.profile_img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.profile_text {
  margin: 10px 0 0 20px;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
}

.unread_message {
  width: 30px;
  height: 30px;
  border-radius: 70%;
  background-color: rgb(221, 46, 68);
  /* margin: auto; */
  text-align: center;
  line-height: 30px;
  color: white;
  margin-left: auto;
  text-align: center;
}

.message_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

@media (max-width: 600px) {

  .profile_box {
    width: 50px;
    height: 50px;
    border-radius: 70%;
    overflow: hidden;
  }

  .profile_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .profile_text {
    font-size: 13px;
    width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
  }

  .message_time {
    font-size: 10px;
    margin: 10px, 0, 0, 0;
  }

  .unread_message {
    width: 25px;
    height: 25px;
    font-size: 15px;
    line-height: 25px;
  }

}

/* Chat Room */
.chat_box {
  display: flex;
  position: relative;
  align-items: center;
  margin: auto;
  flex-direction: column;
  top: 45px;
  max-width: 380px;
  height: 500px;
}

.chat_background {
  /* position: absolute; */
  border-radius: 30px;
  border: #6667AB 1px solid;
  width: 100%;
  margin: 0 auto auto auto;
  height: 500px;
  background-color: #8080801E;
  padding: 50px 0 0 0;

}

.input_box {
  position: relative;
  display: flex;
  width: 100%;
  margin: 10px auto auto auto;
  top: 45px;
  max-width: 380px;
  /* height: 500px; */
}

.chat_input {
  width: 100%;
  height: 40px;
  border: #6667AB 1px solid;
  margin: auto;
  border-radius: 10px;
}

.buyer_nickname {
  text-align: center;
  font-size: x-large;
  position: absolute;
  top: 15px; 
}

.li_box_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.li_box_me {
  position: relative;
  /* display: inline-block; */
  /* height: 35px; */
  padding: 0px;
  background: #9a9bdf;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  margin-top: 5px;
  margin-right: 3%;
  margin-left: auto;

  line-height: 34px;
  padding: 0 10px 0 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 290px;
}



.li_box_other {
  position: relative;
  /* display: inline-block; */
  /* height: 35px; */
  padding: 0px;
  background: #c1c2f1;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  margin-top: 5px;
  margin-left: 3%;
  margin-right: auto;
  line-height: 34px;
  padding: 0 10px 0 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 290px;
}

.chat_div {
  position: absolute;
  width: 100%;
  margin: 0 auto auto auto;
  height: 439px;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse
}

.chat_list {
  display: flex;
  flex-direction: column;
  padding: 50px 20px 7px 20px;
  align-items: flex-end;
  flex: 1
}

.chat_list_other {
  display: flex;
  flex-direction: column;
  padding: 50px 20px 7px 20px;
  align-items: flex-start;
}

.article_line {
  white-space: pre-wrap;
}

.noticeButton {
  margin-right: 10px;
  color: white;
  background-color: #6667AB;

}

.noticeButtons {
  display: flex;
  flex-direction: column-reverse;

}


.chat_div:-webkit-scrollbar {
  display: none;
  width: 10px;
}

.li_box_container:-webkit-scrollbar-thumb {
  height: 30%;
  background: #6667abad;

  border-radius: 10px;
}

.li_box_container:-webkit-scrollbar-track {
  background: rgba(196, 217, 248, 0.1);
}

.articles::-webkit-scrollbar {
  width: 10px;
}

.articles::-webkit-scrollbar-thumb {
  height: 30%;
  background: #6667abad;
  border-radius: 10px;
}

.articles::-webkit-scrollbar-track {
  background: rgba(196, 217, 248, 0.1);
}