.KategorieInMain {
    border: 1px solid yellow;
    margin-block: 50px;
    margin-inline: 5%;
    height: 500px;
    display: flex;
}

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

* {
    box-sizing: border-box;
}

.content {
    max-width: 1200px;
    align-items: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-top: -5px;
    padding: 0;
}

.cards_item {
    display: flex;
    padding: 1rem;
    justify-content: space-around;
}

@media (max-width: 767px) {
    .cards_item {
        width: 50%;
    }

}

@media (min-width: 768px) and (max-width: 991px) {

    /* 태블릿 세로 */
    .cards_item {
        width: 33.333%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {

    /* 태블릿 가로 */
    .cards_item {
        width: 33.333%;
    }
}

@media (min-width: 1200px) {

    /* 데스크탑 일반 */
    .cards_item {
        width: 16.666%;
    }
}


.card {
    background: white;
    border-radius: 0.25rem;
    box-shadow: 0 2px 2px 1px rgba(209, 207, 207, 0.39);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 15rem;
    border: 0;
    width: 15rem;
    text-decoration: none;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}


.card_image {
    /* height: 10rem; */
    max-width: 100%;
    vertical-align: middle;
}

.card_content {
    padding: 0.5rem;
    margin-top: 10px;
}

.card_title {
    color: black;
    font-size: 1.2rem;
    text-transform: capitalize;
    margin: 0px;
    font-family: Pretendard;
}

.card_text {
    color: black;
    font-size: 0.8rem;
    line-height: 1.5;
    font-family: Pretendard;
}

.hometext {
    margin: 70px 0px 0px 20px;
}